[submodule "webrender-har-daemon"]
	path = webrender-har-daemon
	url = https://github.com/ukwa/python-har-daemon.git
[submodule "webrender-phantomjs"]
	path = webrender-phantomjs
	url = https://github.com/ukwa/webrender-phantomjs.git
[submodule "monitrix"]
	path = monitrix
	url = https://github.com/ukwa/monitrix.git
[submodule "acid-crawl"]
	path = acid-crawl
	url = https://github.com/ukwa/acid-crawl.git
[submodule "ukwa-heritrix/heritrix3"]
	path = ukwa-heritrix/heritrix3
	url = https://github.com/ukwa/heritrix3.git
[submodule "ukwa-heritrix/bl-heritrix-modules"]
	path = ukwa-heritrix/bl-heritrix-modules
	url = https://github.com/ukwa/bl-heritrix-modules.git
[submodule "w3act/w3act"]
	path = w3act/w3act
	url = https://github.com/ukwa/w3act.git
[submodule "shepherd/python-w3act"]
	path = shepherd/python-w3act
	url = https://github.com/ukwa/python-w3act.git
[submodule "shepherd/python-heritrix"]
	path = shepherd/python-heritrix
	url = https://github.com/ukwa/python-heritrix.git
[submodule "shepherd/python-webhdfs"]
	path = shepherd/python-webhdfs
	url = https://github.com/ukwa/python-webhdfs.git
[submodule "shepherd/python-shepherd"]
	path = shepherd/python-shepherd
	url = https://github.com/ukwa/python-shepherd.git
[submodule "clamd"]
	path = clamd
	url = https://github.com/ukwa/docker-clamd.git
[submodule "tinycdxserver"]
	path = tinycdxserver
	url = https://github.com/ukwa/docker-tinycdxserver.git
[submodule "pdf2htmlex"]
	path = pdf2htmlex
	url = https://github.com/ukwa/docker-pdf2htmlex.git
[submodule "grobid"]
	path = grobid
	url = https://github.com/ukwa/docker-grobid.git
[submodule "warcprox"]
	path = warcprox
	url = https://github.com/ukwa/docker-warcprox.git
[submodule "warcprox-squid"]
	path = warcprox-squid
	url = https://github.com/ukwa/docker-warcprox-squid.git
[submodule "openwayback"]
	path = openwayback
	url = https://github.com/ukwa/docker-openwayback.git
[submodule "brozzler"]
	path = brozzler
	url = https://github.com/ukwa/docker-brozzler.git
[submodule "ukwa-heritrix-lbs"]
	path = ukwa-heritrix-lbs
	url = git@github.com:ukwa/docker-heritrix.git
